@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F111A;
  --foreground: #ededed;
  
  --primary-accent: #00FF41;
  --secondary-accent: #FFB86C;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* App-like feel */
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0F111A; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.no-drag {
  -webkit-app-region: no-drag;
}
